@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%:
}

input, button, textarea, select {
  font: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  overflow-wrap: break-word;
}

main {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

nav ul li {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  gap: 12px;
  align-self: baseline;
}

nav > ul {
  display: flex;
  gap: 2px;
}

nav ul li > a {
  text-decoration: none;
  padding: 12px;
}

nav a > img {
  width: 70px;
}

nav ul {
  height: auto;
}

